# File name : .htaccess

# Options -MultiViews
#     RewriteEngine On
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ index.html [QSA,L]



    RewriteEngine On
RewriteBase /  # Adjust this if your app is in a subdirectory

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
